<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends' Birthdays</title>
    <style>
        h2 {
            color: rgb(3, 3, 3);
            font-size: 30px;
            font-style: italic;
            text-align: center;
            margin-bottom: 20px;
            background-color: rgb(155, 153, 153);

        }
        
    </style>
</head>
<body>
   <h2>Friends' Birthdays</h2>

    <div id="friendsList">
        <h3>Friends in {{ category }} with birthdays in {{ month }}</h3>
        <ul>
            {% for friend in friends %}
            <li>{{ friend.name }} </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
